@media screen and (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
    .pix_section h2,
    .pix_section h3 {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }
}
/* -- Start:: UMKM HEADER -- */
.pix-navbar-default.navbar {
    padding: 0;
}
.pix_section.pix-over-header {
    position: absolute;
}
/* .pix-navbar-default.navbar {
    padding: 15px 0;
} */
.navbar-header {
    display: flex;
    align-items: center;
    column-gap: 30px;
    width: 100%;
    justify-content: space-between;
}
.navbar-header .navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.umkm-banner .umkm-banner_img {
    width: 100%;
    object-fit: cover;
    margin-bottom: -32px;
    position: relative;
    z-index: 1;
}
.linear-bg {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
    position: relative;
}
@media screen and (max-width: 1024.9px) {
    .navbar-header .navbar-brand img {
        height: 40px;
        width: auto;
    }
    .navbar-toggle img {
        width: 35px;
    }
}
@media screen and (max-width: 768.9px) {
    .umkm-banner {
        padding-top: 69px;
    }
    .navbar-header .navbar-brand {
        column-gap: 16px;
    }
}
/* -- End:: UMKM HEADER -- */

/* -- Start:: UMKM FOOTER -- */
.umkm-footer {
    background-color: #F7941D;
}
.umkm-footer .umkm-footer_logo {
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.umkm-footer .umkm-footer_logo a {
    display: block;
}
.umkm-footer .umkm-copyright {
    display: block;
    text-align: right;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
@media screen and (max-width: 767.9px) {
    .umkm-footer .umkm-footer_logo {
        justify-content: center;
    }
    .umkm-footer .umkm-copyright {
        text-align: center;
        margin-top: 10px;
    }
}
/* -- End:: UMKM FOOTER -- */

/* -- Start:: CONTENT UMKM -- */
.pix_section {
    position: relative;
}
.pix_section .pix-vector {
    position: absolute;
    content: "";
    width: 144px;
    height: 101px;
    background-size: 144px;
    background-repeat: no-repeat;
}
.pix_section .pix-vector.top_left{
    left: 0;
    top: -101px;
}
.pix_section .pix-vector.top_right{
    right: 0;
    top: -101px;
}
.pix_section .pix-vector.bottom_left{
    left: 0;
    bottom: -101px;
}
.pix_section .pix-vector.bottom_right{
    right: 0;
    bottom: -101px;
}
/* cream */
.pix_section .pix-vector.pix-vcream.top_left {
    background-image: url('../images/vector-tl-c.png');
}
.pix_section .pix-vector.pix-vcream.top_right {
    background-image: url('../images/vector-tr-c.png');
}
.pix_section .pix-vector.pix-vcream.bottom_left {
    background-image: url('../images/vector-bl-c.png');
}
.pix_section .pix-vector.pix-vcream.bottom_right {
    background-image: url('../images/vector-br-c.png');
}
/* white */
.pix_section .pix-vector.pix-vwhite.top_left {
    background-image: url('../images/vector-tl-f.png');
    top: -1px;
}
.pix_section .pix-vector.pix-vwhite.top_right {
    background-image: url('../images/vector-tr-f.png');
    top: -1px;
}
.pix_section .pix-vector.pix-vwhite.bottom_left {
    background-image: url('../images/vector-bl-f.png');
    bottom: -1px;
}
.pix_section .pix-vector.pix-vwhite.bottom_right {
    background-image: url('../images/vector-br-f.png');
    bottom: -1px;
}

.umkm-content_about {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
}
.umkm-content_about .umkm-box-bg {
    width: 100%;
    max-width: 240px;
}
.umkm-content_about .umkm-box-bg ul {
    list-style: none;
    margin: 0;
    padding: 28px 20px;
    background-color: #F6941E;
    border-radius: 12px;
    font-size: 16px;
    color: #ffffff;
}
.umkm-content_about .umkm-box-bg ul li:not(:last-child) {
    margin-bottom: 16px;
}
.umkm-content_about .umkm-box-center img {
    width: 478px;
    max-width: 100%;
    margin-top: 50px;
}
@media screen and (max-width: 767.9px) {
    .pix_section .pix-vector {
        width: 70px;
        height: 47px;
        background-size: 70px;
    }
    .pix_section .pix-vector.top_left{
        top: -46px;
    }
    .pix_section .pix-vector.top_right{
        top: -46px;
    }
    .pix_section .pix-vector.bottom_left{
        bottom: -46px;
    }
    .pix_section .pix-vector.bottom_right{
        bottom: -46px;
    }
    .umkm-content_about {
        flex-direction: column;
        column-gap: 0;
        align-items: center;
        row-gap: 30px;
    }
    .umkm-content_about .umkm-box-bg {
        max-width: 100%;
    }
    .umkm-content_about .umkm-box-bg ul {
        padding: 20px;
    }
    .umkm-content_about .umkm-box-center img {
        width: 300px;
        margin-top: 0;
    }
}

.umkm-data_table {
    position: relative;
    padding: 0 30px;
}
.umkm-data_table::before {
    background-image: url('../images/bg-table.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-position: center;
    z-index: 0;
}
.umkm-data_table .umkm-dt_wrap {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 4px 24px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 4px 24px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 4px 24px 0px rgba(0,0,0,0.16);
    border-radius: 12px;
}
.umkm-data_table .umkm-dt_header {
    background-color: #F7941D;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 18px 12px;
    border-bottom: 1px dashed #ffffff;
}
.umkm-data_table .table {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.umkm-data_table .table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
.umkm-data_table .table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
.umkm-data_table .table thead th {
    background-color: #F7941D;
    color: #ffffff;
    width: 50%;
    padding: 13px 12px;
}
.umkm-data_table .table-striped tbody tr:nth-of-type(odd) td {
    background-color: #FEF4E8;
}
.umkm-data_table .table tbody td {
    padding: 13px 12px;
    color: #888888;
}

.umkm-section-data .row {
    --bs-gutter-y: 1.5rem;
    margin-top: 0;
}
.umkm-data_box {
    background-color: #FEF4E8;
    border-radius: 12px;
    padding: 15px 20px;
    position: relative;
}
.umkm-data_box::after {
    background-image: url('../images/vector-transparent.png');
    background-size: 113px;
    background-repeat: no-repeat;
    width: 113px;
    height: 79px;
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    display: none;
}
.umkm-data_box h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #555555;
    font-size: 15px;
    font-weight: 700;
    height: 68px;
}
.umkm-data_box span {
    display: block;
    color: #888888;
    font-size: 12px;
    line-height: 24px;
}
.umkm-data_box:hover {
    background-color: #F7941D;
}
.umkm-data_box:hover::after {
    display: block;
}
.umkm-data_box:hover h5,
.umkm-data_box:hover span {
    color: #fff;
}

.umkm-bg-net {
    background-image: url('../images/bg-net.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFF8F0;
}

.umkm-section-criteria .umkm-criteria_item {
    background-color: #FFF8F0;
    padding: 35px;
    padding-left: 150px;
    border-radius: 12px;
    position: relative;
    margin-left: 125px;
    min-height: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.umkm-section-criteria .umkm-criteria_item:not(:last-child) {
    margin-bottom: 20px;
}
.umkm-section-criteria .umkm-criteria_item::before,
.umkm-section-criteria .umkm-criteria_item::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 54px;
    background-size: 80px;
    background-repeat: no-repeat;
    right: 0;
}
.umkm-section-criteria .umkm-criteria_item::before {
    background-image: url('../images/vector-tr-f.png');
    top: 0;
}
.umkm-section-criteria .umkm-criteria_item::after {
    background-image: url('../images/vector-br-f.png');
    bottom: 0;
}
.umkm-section-criteria .umkm-criteria_item p:last-child {
    margin: 0;
}
.umkm-section-criteria .umkm-criteria_item .criteria_img {
    position: absolute;
    height: 180px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -90px;
}
.umkm-section-criteria .umkm-criteria_item .criteria_img img {
    height: 180px;
}

@media screen and (max-width: 767.9px) {
    .umkm-section-criteria .umkm-criteria_item {
        padding: 20px;
        padding-left: 20px;
        margin: 0;
        min-height: 0;
    }
    .umkm-section-criteria .umkm-criteria_item .criteria_img {
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        height: auto;
        left: auto;
        text-align: center;
    }
    .umkm-section-criteria .umkm-criteria_item .criteria_img img {
        height: 110px;
    }
    .umkm-section-criteria .umkm-criteria_item::before,
    .umkm-section-criteria .umkm-criteria_item::after {
        display: none;
    }
}

.umkm-benefit {
    position: relative;
    background-color: #FFF8F0;
    background-image: url('../images/bg-net2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 12px 0 12px;
}
.umkm-benefit .img-benefit {
    margin: 0 auto;
    display: table;
    width: 336px;
    margin-bottom: -15px;
}
.umkm-benefit .list-benefit li h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    position: relative;
    display: table;
    max-width: 305px;
    padding-right: 85px;
}
@media screen and (min-width: 768px) {
    .umkm-benefit .list-benefit {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    .umkm-benefit .list-benefit li {
        position: absolute;
        bottom: 0;
    }
    .umkm-benefit .list-benefit li:first-child {
        bottom: 220px;
        left: 10%;
    }
    .umkm-benefit .list-benefit li:nth-child(2) {
        bottom: 144px;
        left: 10%;
    }
    .umkm-benefit .list-benefit li:nth-child(3) {
        bottom: 68px;
        left: 10%;
    }
    .umkm-benefit .list-benefit li:nth-child(4) {
        bottom: 180px;
        right: 10%;
    }
    .umkm-benefit .list-benefit li:nth-child(5) {
        bottom: 104px;
        right: 10%;
    }
    .umkm-benefit .list-benefit li h6::after {
        position: absolute;
        content: "";
        background-image: url('../images/line.png');
        background-repeat: no-repeat;
        width: 60px;
        height: 5px;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .umkm-benefit .list-benefit li:nth-child(4) h6,
    .umkm-benefit .list-benefit li:nth-child(5) h6 {
        padding-right: 0;
        padding-left: 85px;
    }
    .umkm-benefit .list-benefit li:nth-child(4) h6::after,
    .umkm-benefit .list-benefit li:nth-child(5) h6::after {
        rotate: 180deg;
        left: 0;
        right: auto;
    }
    .umkm-business {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 1024.9px) and (min-width: 768px) {
    .umkm-benefit .list-benefit li:first-child {
        bottom: 140px;
        left: 20px;
    }
    .umkm-benefit .list-benefit li:nth-child(2) {
        bottom: 82px;
        left: 20px;
    }
    .umkm-benefit .list-benefit li:nth-child(3) {
        bottom: 24px;
        left: 20px;
    }
    .umkm-benefit .list-benefit li:nth-child(4) {
        bottom: 112px;
        right: 20px;
    }
    .umkm-benefit .list-benefit li:nth-child(5) {
        bottom: 34px;
        right: 20px;
    }
    .umkm-benefit .list-benefit li h6::after {
        background-size: 50px;
        width: 50px;
    }
    .umkm-benefit .list-benefit li h6 {
        padding-right: 60px;
        max-width: 250px;
    }
    .umkm-benefit .list-benefit li:nth-child(4) h6, 
    .umkm-benefit .list-benefit li:nth-child(5) h6 {
        padding-left: 60px;
    }
    .umkm-benefit .img-benefit {
        width: 220px;
        margin-bottom: -10px;
    }
}
@media screen and (max-width: 767.9px) and (min-width: 576px) {
    .umkm-benefit {
        max-width: 540px;
    }
}
@media screen and (max-width: 767.9px) {
    .umkm-benefit {
        padding: 60px 20px;
    }
    .umkm-benefit .list-benefit li {
        position: relative;
    }
    .umkm-benefit .img-benefit {
        display: none;
    }
    .umkm-benefit .list-benefit li h6 {
        padding: 0;
        padding-left: 20px;
        margin-bottom: 12px;
        max-width: 100%;
        display: block;
    }
    .umkm-benefit .list-benefit li h6::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #F7941D;
        border-radius: 50%;
        content: "";
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
    }
}

.umkm-business .img-business {
    width: 610px;
    margin-left: -130px;
}
.umkm-business .business-unit {
    background-color: #8E552A;
    border-radius: 12px;
    padding: 12px 16px;
    color: #ffffff;
}
.umkm-business .business-unit h6 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}
.umkm-business .business-unit ul {
    padding-left: 16px;
    margin-bottom: 10px;
}
.umkm-business .business-unit ul li {
    font-size: 12px;
    color: rgba(255,255,255,0.8);
}
.umkm-business .business-unit:not(:last-child) {
    margin-bottom: 20px;
}
.umkm-business .business-unit ul li:not(:last-child) {
    margin-bottom: 8px;
}

.umkm-export {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.umkm-export .item-export {
    width: calc((100% / 5) - 16px);
    background-color: #F7941D;
    border-radius: 12px;
    padding: 0 12px;
    text-align: center;
}
.umkm-export .item-export h5 {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}
@media screen and (max-width: 1024.9px) and (min-width: 768px) {
    .umkm-export .item-export {
        width: calc((100% / 3) - 15px);
    }
}
@media screen and (max-width: 767.9px) {
    .umkm-export .item-export {
        width: calc((100% / 2) - 10px);
    }
}
/* -- End:: CONTENT UMKM -- */

