@media screen and (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}
/* -- Start:: UMKM HEADER -- */
.pix-navbar-default.navbar {
    padding: 0;
}
/* .pix-navbar-default.navbar {
    padding: 15px 0;
} */
.navbar-header {
    display: flex;
    align-items: center;
    column-gap: 30px;
    width: 100%;
    justify-content: space-between;
}
.navbar-header .navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.umkm-banner .umkm-banner_img {
    width: 100%;
    object-fit: cover;
}
.linear-bg {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
    margin-top: -32px;
}
@media screen and (max-width: 1024.9px) {
    .navbar-header .navbar-brand img {
        height: 40px;
        width: auto;
    }
    .navbar-toggle img {
        width: 35px;
    }
}
@media screen and (max-width: 768.9px) {
    .umkm-banner {
        padding-top: 69px;
    }
    .navbar-header .navbar-brand {
        column-gap: 16px;
    }
}
/* -- End:: UMKM HEADER -- */

/* -- Start:: UMKM FOOTER -- */
.umkm-footer {
    background-color: #F7941D;
}
.umkm-footer .umkm-footer_logo {
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.umkm-footer .umkm-footer_logo a {
    display: block;
}
.umkm-footer .umkm-copyright {
    display: block;
    text-align: right;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
@media screen and (max-width: 767.9px) {
    .umkm-footer .umkm-footer_logo {
        justify-content: center;
    }
    .umkm-footer .umkm-copyright {
        text-align: center;
        margin-top: 10px;
    }
}
/* -- End:: UMKM FOOTER -- */

/* -- Start:: About UMKM -- */
.umkm-content_about {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
}
.umkm-content_about .umkm-box-bg {
    width: 100%;
    max-width: 240px;
}
.umkm-content_about .umkm-box-bg ul {
    list-style: none;
    margin: 0;
    padding: 28px 20px;
    background-color: #F6941E;
    border-radius: 12px;
    font-size: 16px;
    color: #ffffff;
}
.umkm-content_about .umkm-box-bg ul li:not(:last-child) {
    margin-bottom: 16px;
}
.umkm-content_about .umkm-box-center img {
    width: 478px;
    max-width: 100%;
    margin-top: 50px;
}
@media screen and (max-width: 767.9px) {
    .umkm-content_about {
        flex-direction: column;
        column-gap: 0;
        align-items: center;
        row-gap: 30px;
    }
    .umkm-content_about .umkm-box-bg ul {
        padding: 20px;
    }
    .umkm-content_about .umkm-box-center img {
        width: 300px;
        margin-top: 0;
    }
}
/* -- End:: About UMKM -- */

/* -- Start:: About UMKM -- */
.umkm-section-data .row .row:not(:last-child) {
    margin-bottom: 20px;
}
.umkm-data_box {
    background-color: #FEF4E8;
    border-radius: 12px;
    padding: 15px 20px;
    position: relative;
}
.umkm-data_box::after {
    background-image: url('../images/vector-hover.png');
    background-size: 113px;
    background-repeat: no-repeat;
    width: 113px;
    height: 79px;
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    display: none;
}
.umkm-data_box h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #555555;
    font-size: 15px;
    font-weight: 700;
    height: 68px;
}
.umkm-data_box span {
    display: block;
    color: #888888;
    font-size: 12px;
    line-height: 24px;
}
.umkm-data_box:hover {
    background-color: #F7941D;
}
.umkm-data_box:hover::after {
    display: block;
}
.umkm-data_box:hover h5,
.umkm-data_box:hover span {
    color: #fff;
}
/* -- End:: About UMKM -- */

